
/* -------------------------------------- algemene regels ------------------------------------- */

/* hier verwijderen we overal standaard margin en padding die 
door de browsers gegeven worden zodat we er zelf controle over hebben */

* {
	margin: 0;
	padding: 0;
}

/* toon html5 elementen als block in oudere browsers */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 18px;
	/*kleurovergang via colorzilla.com*/
	background: linear-gradient(#addd00 0%,#f8ffe8 100%)
}

#wrapper {
	width: 940px;
	margin: auto;
	margin-top: 20px;
	background-color: white;
	border: 3px solid #777;
	border-radius: 10px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: RGB(89,55,35);
	margin: 0 0 20px 0;
	line-height: 1.5em;	
}

a:link, a:visited {
	color:RGB(89,55,35);
}

a:hover, a:active {
	color: #333;
	font-weight:bold;
}

li {
	padding-left: 5px;
}

/* -------------------------------------- Header ------------------------------------- */

header {
	padding: 20px 0 0 0;		
}

header h1 {
	float: left;
	margin: 0 0 18px 10px;
	width: 400px;
	font-size: 40px;
	line-height: 36px;
}

header h2 {
	color: #777;	
	font-style: italic;
	font-size: 14px;
	margin: 14px 10px 18px 0;
	text-align: right;
}

header img{
	vertical-align:bottom;
}


/* -------------------------------------- Navigatie --------------------------------- */

nav {
	height: 50px;	
	background-color: RGB(89,55,35);
}

nav li {
	display: inline-block;
	padding: 1em;

}

nav li a:link, nav li a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
nav li a:hover {
	text-decoration: underline;
	-webkit-text-decoration-color: white;
	        text-decoration-color: white;
}


/* -------------------------------------- Inhoud ------------------------------------- */

#hoofdinhoud {
	width: 940px;
	margin: 0 auto;	
}

/* section inhoud */
#inhoud {
	width: 464px;
	float: left;
	border-right: 3px solid RGB(89,55,35);
	border-left: 3px solid RGB(89,55,35);		
}


/* aside */
#links {	
	width: 180px;
	padding: 20px;	
	float: left;
}

#rechts {	
	width: 180px;
	padding:20px;
	float: right;
}

aside h3 {
	font-size: 18px;
	text-shadow: 0px 2px 3px #ddd;
}

aside ul {	
	margin: -15px 0 15px 25px;
	list-style-image: url("images/Opsommingsteken.png");
}

/* article */
article {
	padding:15px 10px 5px 10px;	
}

article img {
	box-shadow: 5px 5px 5px #777;
	margin-right: 10px;
	transition: transform 1.5s;
}

article img:hover{
	transform: scale(2, 2);
}

article p{
	text-align: justify;
}

img.linksuitlijnen {
	float: left;
}


/* -------------------------------------- Footer ------------------------------------- */

footer {
	color:#777;
	font-size: 90%;
	padding:15px;
	clear: both;
	background-color: RGB(89,55,35);
}

footer h4{
	color:#777;
}

footer a:link{
	color:#777;
}